@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.mainContainer {
  font-family: "PT Sans Narrow";
  font-weight: lighter;
  display: flex;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.breadcrumb {
  margin-left: 10px;
}
.breadcrumb .chevron {
  font-size: 10px;
}

.timer {
  margin-left: 10px;
  background-color: whitesmoke;
  width: 480px;
  margin-bottom: 0;
  font-weight: lighter;
  text-align: center;
}

.timer #countdown {
  font-weight: bolder;
  color: red;
}

.imageSlider {
  height: 500px;
  width: 500px;
  margin-left: 150px;
  margin-top: 100px;
}

.thumbnails {
  display: flex;
  cursor: pointer;
}

.thumbnails img {
  width: 100%;
}

.imageBox {
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
}

.info .sofa-title {
  /* text-align: center; */
  margin-left: 150px;
  margin-top: 125px;
  display: flex;
  font-weight: lighter;
}

.info .sofa-title i {
  font-size: 36px;
  padding-top: 20px;
  padding-left: 100px;
}

.price {
  margin-left: 150px;
  display: flex;
}

.oldPrice {
  color: gray;
  text-decoration: line-through;
  padding-left: 20px;
}

.options {
  margin-left: 150px;
}

.optionsBox {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.optionsBox img {
  width: 100%;
  height: 100%;
}

.size-options {
  margin-left: 150px;
  margin-top: 50px;
}
.size-options .size-select {
  cursor: pointer;
  padding: 10px;
  background: whitesmoke;
  border: none;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  background: #fff;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 9px;
}

.size-guide .size-info-btn {
  margin-left: 150px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.addToCart {
  border-radius: 10px;
  border: none;
  font-size: 20px;
  position: relative;
  background: black;
  cursor: pointer;
  height: 2em;
  width: 10em;
  overflow: hidden;
  transition: transform 0.1s;
  margin-left: 150px;
  margin-top: 50px;
}
.addToCart:hover {
  transform: scale(1.1);
}
.pretext {
  color: #fff;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.done {
  background: black;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}
.posttext {
  background: black;
}

@media only screen and (max-width: 599px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }
}
