@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  font-family: "PT Sans Narrow";
  font-weight: lighter;
}

.rightSide {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
}

.leftSide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  font-weight: bolder;
}

.icons {
  margin: 0px 15px;
  font-size: 26px;
}

.icons:hover {
  cursor: pointer;
}

.dropbtn {
  /* color: white; */
  padding: 16px;
  padding-left: 50px;
  font-size: 16px;
  border: none;
  font-family: "PT Sans Narrow";
  font-weight: lighter;
  cursor: pointer;
  background-color: whitesmoke;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: "PT Sans Narrow";
  font-weight: lighter;
  cursor: pointer;
}

.centre .dropdown .dropbtn i {
  font-size: 10px;
  padding-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.cart {
  position: relative;
}

.basketBtn {
  border: none;
}
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

@media only screen and (max-width: 599px) {
  .navContainer {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
    position: relative;
    min-width: 100%;
    font-family: "PT Sans Narrow";
    font-weight: lighter;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
